@font-face {
  font-family: "HY엽서M";
  src: url("/HY엽서M.woff") format("woff");
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
}

:root {
  --app-height: 100%;
  --font-family: arial;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* mobile touch colour transparent */
  -webkit-tap-highlight-color: transparent;
  /* prevent pinch zoom */
  touch-action: pan-x pan-y;
}

*:focus {
  outline: none !important;
}

html {
  width: 100vw;
  height: 100vh;
  cursor: default;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  /* Remove scrollbar space */
  width: 0;
}
::-webkit-scrollbar {
  /* safari, chrom scroll bar hidden style */
  display: none;
}

::-moz-selection {
  background-color: black;
  color: white;
}
::selection {
  background-color: black;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: white !important;
  width: 100%;
  height: var(--app-height);
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

ul,
li,
p,
div,
span,
a,
button {
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: var(--font-family);
}
